<p>vip-page works!</p>

<button type="button" class="btn btn-light" (click)="openImageSelector()">
  Select Image
</button>

<!-- Display selected image if available -->
<ng-container *ngIf="selectedImageUrl">
  <div>
    <img [src]="selectedImageUrl" height="100" class="my-2" />
  </div>
</ng-container>

<!-- Image selector modal -->
<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isImageSelectorVisible,
    'd-none': !isImageSelectorVisible
  }"
>
  <button
    type="button"
    class="btn btn-light"
    style="position: fixed; top: 10px; right: 10px"
    (click)="closeImageSelector()"
  >
    X
  </button>
  <app-image-selector></app-image-selector>
</div>
