@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$primary-green: #2ecc71;
$secondary-green: #27ae60;
$accent-orange: #f39c12;
$contrast-blue: #2980b9;
$dark-blue: #1e6a93;
$text-white: #ffffff;

h5 {
  font-size: medium;
}

.btn {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-link {
  color: green;
  cursor: pointer;
  font-weight: bold; 
}

.vip-car {
  border: 2px solid gold;
}

.email-link:hover {
  color: darkgreen;
}

.btn-success {
  background-color: $primary-green;
  color: $text-white;
  border: 2px solid $secondary-green;
  border-radius: 8px;
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(46, 204, 113, 0.3);
  transition: all 0.3s ease;
  margin-right: 5px;

  &:hover {
    background-color: $secondary-green;
    box-shadow: 0 6px 12px rgba(39, 174, 96, 0.5);
    transform: translateY(-2px);
  }
}

.btn-primary {
  background-color: $contrast-blue;
  color: $text-white;
  border-radius: 8px;
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(41, 128, 185, 0.3);
  transition: all 0.3s ease;

  &:hover {
    background-color: $dark-blue;
    box-shadow: 0 6px 12px rgba(30, 106, 147, 0.5);
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-success,
  .btn-primary {
    width: 90%;
    font-size: small;
    margin-bottom: 10px;
    margin-right: 0;
  }

  h3 {
    font-size: medium;
    font-weight: 600;
  }

  h5 {
    font-size: smaller;
  }
}

.microphone-icon {
  display: flex;
  font-size: 36px;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.dots {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  animation: dots-animation 1.5s infinite;
}

.dot {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #007bff;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    opacity: 0.2;
    transform: scale(0.6);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dots-animation {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}
