<div class="">
  <!-- Routes Section -->
  <div class="row">
    <main role="main" class="col-12 col-lg-10 offset-lg-1 px-4">
      <div class="pt-3 text-center">
        <h2>Available Routes</h2>
        
        <div class="input-group mb-4">
          <input
            [(ngModel)]="searchTerm"
            type="text"
            class="form-control"
            placeholder="Search for route by name"
            (input)="filterRoutes()"
          />
          <div class="microphone-icon" (click)="startVoiceSearch()" *ngIf="!isListening">
            <i class="fas fa-microphone" style="color: white; font-size: 36px;"></i>
          </div>

          <div class="dots" *ngIf="isListening">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>

        <div *ngIf="filteredRoutes.length > 0; else noRoutes">
          <div *ngFor="let item of filteredRoutes" class="card mb-3" [ngClass]="{'vip-route': item.user.accountType === 'VIP'}">
            <div class="card-body px-5">
              <div class="flex justify-content-between align-items-center">
                <div class="d-flex">
                  <h5 class="mb-0">{{ item.route.id }}</h5>
                </div>
                <div class="flex-grow-1 text-center">
                  <h3 class="card-title">{{ item.route.name }}</h3>
                </div>
              </div>
              <h5 class="text-center mb-3 fw-medium email-link" (click)="navigateToRating(item.user.email)">
                {{ item.user.email }}
              </h5>

              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <div class="flex justify-content-center">
                    <span class="text-success fw-semibold">Seats:</span>
                    <span class="ms-2">{{ item.route.seatsNumber }}</span>
                  </div>
                  <div class="d-flex justify-content-center text-uppercase">
                    <span>{{ item.route.type }}</span>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="flex justify-content-center">
                    <span class="text-success me-2 fw-semibold">Price:</span>
                    <span>{{ item.route.price | currency }}<br /></span>
                  </div>
                  <div class="d-flex justify-content-center">
                    <span class="text-black">{{
                      item.route.dateAndTime | date : "dd.MM.yyyy | HH:mm"
                    }}</span>
                  </div>
                </div>
              </div>
              <div>
                <span style="display: none"
                  >{{ item.route.coordinates }}<br
                /></span>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <!-- Showing button for reserving -->
                <div
                  *ngIf="apiUrl === 'https://localhost:7172/Route/GetRoutes'"
                >
                  <button class="btn btn-success" (click)="sendRequest(item)">
                    Make a reservation
                  </button>
                </div>

                <!-- Showing buttons for delete and editing -->
                <div
                  *ngIf="
                    apiUrl === 'https://localhost:7172/Route/GetUsersRoutes'
                  "
                >
                  <button
                    class="btn btn-danger me-2"
                    (click)="onDeleteRoute(item.route.id)"
                  >
                    Izbrisi
                  </button>
                  <button
                    class="btn btn-primary"
                    (click)="onEditRoute(item.route.id)"
                  >
                    Uredi
                  </button>
                </div>

                <!-- View Button to navigate to Google Maps page -->
                <div
                  *ngIf="apiUrl === 'https://localhost:7172/Route/GetRoutes'"
                >
                  <button
                    class="btn btn-primary"
                    (click)="viewRouteOnMap(item.route.coordinates)"
                  >
                    View Route
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noRoutes>
          <p class="text-center mt-4">No routes available at the moment.</p>
        </ng-template>
      </div>
    </main>
  </div>
</div>
